.login-signup-area-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding-bottom: 8px;
  border-bottom: 2px solid $theme-brown-dark;

  &__back-button {
    padding: 0 8px;
    > img {
      width: 8px;
    }
  }

  &__text {
    width: calc(100% - 24px);
    padding-right: 24px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
  }
}
