.login-signup-area-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding-bottom: 8px;
  border-bottom: 2px solid $theme-brown-dark;

  &__back-button {
    padding: 0 8px;
    > img {
      width: 8px;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;

    &--back-button-show {
      width: calc(100% - 24px);
      padding-right: 24px;
    }
  }
}

.login-signup-area-tabs {
  display: flex;
  margin-bottom: 24px;
}

.login-signup-area-tab {
  width: 100%;
  padding-bottom: 8px;

  > a {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
    text-decoration: none;
    color: $theme-brown-dark;
  }

  &--focused {
    border-bottom: 2px solid $theme-brown-dark;
  }
}
