.shop-detail {
  padding: 84px 60px 0;

  &__to-home-link {
    margin-bottom: 24px;
  }

  &__content-wrapper {
    max-width: 960px;
    margin: 0 auto;
  }

  &__name {
    margin-bottom: 12px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__item {
    margin-bottom: 4px;
    font-size: 1.3rem;

    > a {
      color: $theme-brown-dark;
    }

    &__opening-hours {
      padding-left: 60px;
      font-size: 1.2rem;
    }
  }

  &__shop-delete-button {
    margin-top: 4px;
    font-size: 1.2rem;
    text-decoration: underline;
  }

  &__image-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 60px;
  }

  &__image {
    position: relative;
    width: 33%;
    margin-bottom: 4px;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: $tb) {
  .shop-detail {
    &__to-home-link {
      display: none;
    }
  }
}

@media screen and (max-width: $sp) {
  .shop-detail {
    padding: 84px 16px 0;
  }
}
