@import '../foundation/variables.scss';

.login-signup {
  padding: 40px 16px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: normal;
  }

  &__wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 600px;
    border: 1px solid $theme-brown-dark;
    background-color: $theme-white;
  }

  &__sub-title {
    margin-bottom: 24px;
    padding-bottom: 8px;
    border-bottom: 2px solid $theme-brown-dark;
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
  }

  &__input-wrapper {
    margin-bottom: 24px;
  }

  &__input {
    display: block;
    margin-bottom: 12px;
    padding: 16px;
    width: 100%;
    border: 2px solid $theme-brown-dark;
    border-radius: 8px;
    font-size: 1.4rem;

    &:last-child {
      margin-bottom: 8px;
    }
  }

  &__reset-password-link-wrapper {
    text-align: right;
  }

  &__reset-password-link {
    font-size: 1.4rem;
    color: $theme-brown-dark;
  }

  &__submit-button {
    margin-bottom: 24px;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    background-color: $theme-pink-dark;
    font-size: 1.4rem;
  }

  &__border {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-size: 1.4rem;

    &::before,
    &::after {
      border-top: 1px solid;
      content: '';
      flex-grow: 1;
    }

    &::before {
      margin-right: 12px;
    }

    &::after {
      margin-left: 12px;
    }
  }

  &__sns {
    display: flex;
    padding: 16px;
    width: 100%;
    border: 2px solid $theme-brown-dark;
    border-radius: 8px;
    font-size: 1.4rem;
  }

  &__sns-icon {
    width: 20px;
  }

  &__sns-text {
    width: 100%;
    padding-right: 24px;
  }
}

@media screen and (max-width: $sp) {
  .login-signup {
    &__wrapper {
      padding: 24px 16px;
    }
  }
}
