.login-signup-area-content {
  &__description {
    margin-bottom: 16px;
    font-size: 1.4rem;
  }

  &__input-wrapper {
    margin-bottom: 24px;
  }

  &__input {
    display: block;
    margin-bottom: 12px;
    padding: 16px;
    width: 100%;
    border: 2px solid $theme-brown-dark;
    border-radius: 8px;
    font-size: 1.4rem;
  }

  &__reset-password-link-wrapper {
    text-align: right;
  }

  &__reset-password-link {
    font-size: 1.4rem;
    color: $theme-brown-dark;
  }

  &__submit-button {
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    background-color: $theme-pink-dark;
    font-size: 1.4rem;

    &:disabled {
      opacity: 0.6;
    }
  }

  &__border {
    display: flex;
    align-items: center;
    margin: 24px 0;
    font-size: 1.4rem;

    &::before,
    &::after {
      border-top: 1px solid;
      content: '';
      flex-grow: 1;
    }

    &::before {
      margin-right: 12px;
    }

    &::after {
      margin-left: 12px;
    }
  }

  &__sns {
    display: flex;
    padding: 16px;
    width: 100%;
    border: 2px solid $theme-brown-dark;
    border-radius: 8px;
    font-size: 1.4rem;
  }

  &__sns-icon {
    width: 20px;
  }

  &__sns-text {
    width: 100%;
    padding-right: 24px;
  }
}
